.bookscard {
      border-radius: 20px;
      background-color: white;
      margin-bottom: 30px;
      padding-bottom: 30px;
      width: 260px;

}

.bookscard_icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
}

.bookscard_icon p{
      color: gray;
      font-weight: 600;
}